<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    House Busted
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BustHouse",
        props: {
            eventID: Number,
            event: Object,
        },
    }
</script>

<style scoped>

</style>