<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="padding: 0; border: 0; margin: 0">
                    <div class="alert text-center" :class="alertClass" role="alert" style="margin: 0">
                        <span class="badge badge-secondary">#{{event.dealNumber}}</span>
                        Deal Ended: <strong>{{event.outcome}} ({{formatNumberDollar(event.playerWonSum)}})</strong>
                    </div>
                </div>
                <div class="card-body" style="padding: 0">
                    <div class="card-body" style="padding: 0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header text-center">
                                        Player Cards <strong>({{event.playerHandValue}})</strong>
                                    </div>
                                    <div class="card-body text-center">
                                        <Card v-for="(card, cardKey) in event.playerHand" :key="cardKey" :card="card" :cardID="cardKey"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header text-center">
                                        House Cards <strong>({{event.houseHandValue}})</strong>
                                    </div>
                                    <div class="card-body text-center">
                                        <Card v-for="(card, cardKey) in event.houseHand" :key="cardKey" :card="card" :cardID="cardKey"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Card from './../Card';
    import Constants from './../../constants';

    export default {
        name: "DealEnd",
        components: {
            Card,
        },
        data () {
            return {
                alertClass: null,
            }
        },
        props: {
            eventID: Number,
            event: Object,
        },
        mounted () {
            switch (this.event.outcome)
            {
                case Constants.OUTCOME_LOSE:
                    this.alertClass = 'alert-danger';
                    break;
                case Constants.OUTCOME_WIN:
                    this.alertClass = 'alert-success';
                    break;
                case Constants.OUTCOME_PUSH:
                    this.alertClass = 'alert-warning';
                    break;
            }
        },
        methods: {
            formatNumberDollar(value)
            {
                if (value >= 0)
                {
                    return '$' + value;
                }
                else
                {
                    return '-$' + -value;
                }
            }
        }
    }
</script>

<style scoped>

</style>