<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="badge badge-warning">#{{numberOfTheDeal}}</span>
                    Deal Started
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "DealStart",
        computed: {
            numberOfTheDeal: {
                get ()
                {
                    return this.$store.getters.getDealNumberByEvent(this.eventID);
                },
            },
        },
        props: {
            eventID: Number,
        },
    }
</script>

<style scoped>

</style>