<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Deal House
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Card Dealt
                                </div>
                                <div class="card-body">
                                    <Card :card="card"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Hand at this point
                                </div>
                                <div class="card-body">
                                    <Card v-for="(card, cardKey) in hand" :key="cardKey" :card="card" :cardID="cardKey" :faceDown="cardKey === (hand.length - 1) && hand.length === 2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Card from './../Card';

    export default {
        name: "DealHouse",
        props: {
            event: Object,
        },
        components: {
            Card,
        },
        computed: {
            card: {
                get () {
                    return this.event.card;
                }
            },
            hand: {
                get () {
                    return this.event.hand;
                }
            }
        }
    }
</script>

<style scoped>

</style>