<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Hit House
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Card Dealt
                                </div>
                                <div class="card-body">
                                    <Card :card="card"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Hand at this point
                                </div>
                                <div class="card-body">
                                    <Card v-for="(card, cardKey) in hand" :key="cardKey" :card="card" :cardID="cardKey"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    import Card from './../Card';

    export default {
        name: "HitHouse",
        props: {
            event: Object,
            eventID: Number,
        },
        components: {
            Card,
        },
        computed: {
            card: {
                get () {
                    let event = this.$store.getters.getEventByID(this.eventID);
                    return event.card;
                }
            },
            hand: {
                get () {
                    let event = this.$store.getters.getEventByID(this.eventID);
                    return event.hand;
                }
            }
        }
    }
</script>

<style scoped>

</style>