<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="alert text-center" :class="alertClass" role="alert">
                        <strong>Simulation Ended</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Player started with: <strong>{{formatNumberDollar(event.startingSum)}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Player finished with: <strong>{{formatNumberDollar(event.finishSum)}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Player profit: <strong>{{formatNumberDollar(event.profit)}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Player profit percentage: <strong>{{event.profitPercentage}}%</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Total Deals Played: <strong>{{event.totalDealsPlayed}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Deals Won: <strong>{{event.dealsWon}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Deals Won Percentage: <strong>{{event.dealsWonPercentage}}%</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Deals Lost: <strong>{{event.dealsLost}}</strong>
                        <hr style="margin-top: .5rem; margin-bottom: .5rem;">
                        Deals Lost Percentage: <strong>{{event.dealsLostPercentage}}%</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "SimulationEnd",
        props: {
            event: Object,
            eventID: Number,
        },
        data () {
            return {
                alertClass: null,
            }
        },
        mounted () {
            if (this.event.profit > 0)
            {
                this.alertClass = 'alert-success';
            }
            else if (this.event.profit < 0)
            {
                this.alertClass = 'alert-danger';
            }
            else
            {
                this.alertClass = 'alert-warning';
            }
        },
        methods: {
            formatNumberDollar(value)
            {
                if (value > 0)
                {
                    return '$' + value;
                }
                else
                {
                    return '-$' + -value;
                }
            },
            formatNumberPercentage(value)
            {
                if (value > 0)
                {
                    return value + '%';
                }
                else
                {
                    return '-$' + -value;
                }
            }
        }
    }
</script>

<style scoped>

</style>