<template>
    <!--<img v-if="faceDown === false" :src="card.image" height="150px" width="100px" :class="{ 'over-another-card': cardID > 0 }">-->
    <!--<img v-else :src="'/assets/images/cards/png/back.png'" height="150px" width="100px" :class="{ 'over-another-card': cardID > 0 }">-->
    <img :src="card.image" height="150px" width="100px" :class="{ 'over-another-card': cardID > 0 }">
</template>

<script>
    export default {
        name: "Card",
        props: {
            card: Object,
            cardID: Number,
            faceDown: Boolean,
        },
    }
</script>

<style scoped>
    .over-another-card {
        margin-left: -75px;
    }
</style>