<template>
    <div class="row">
        <div class="col-md-12">
            <component :is="eventComponent" :eventID="eventID" :event="event" :key="eventID"/>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Event",
        props: {
            eventID: Number,
            event: Object,
        },
        computed: {
            eventComponent () {
                return () => import(`@/components/Events/${this.componentName}.vue`)
            }
        },
        data () {
            return {
                componentName: '',
            }
        },
        created() {
            this.componentName = this.$Helpers.toCamelCaseFirstUC(this.event.type);
        },
    }
</script>

<style scoped>

</style>