<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Please input the number of deals that should be made or the number of decks that a game should go through
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="strategy-select-label">Strategy</span>
                        </div>
                        <select class="form-control" v-model="strategy" aria-describedby="strategy-select-label" aria-label="Strategy Select">
                            <option v-for="strategy of strategies" :value="strategy.filename" :key="'strategy_' + strategy.filename">
                                {{strategy.label}}
                            </option>
                         </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="number-of-sessions-input-label">Sessions</span>
                        </div>
                        <input
                        v-model.number="numberOfSessions"
                        type="number"
                        class="form-control"
                        step="1"
                        min="1"
                        aria-label="Number of sessions input"
                        aria-describedby="number-of-sessions-input-label"
                        >
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="number-of-decks-input-label">Decks</span>
                        </div>
                        <input
                        v-model.number="numberOfDecks"
                        type="number"
                        class="form-control"
                        step="1"
                        min="4"
                        aria-label="Number of decks input"
                        aria-describedby="number-of-decks-input-label"
                        >
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="start-sum-input-label">Starting Sum ($)</span>
                        </div>
                        <input
                        v-model.number="startingSum"
                        type="number"
                        class="form-control"
                        step="1"
                        min="1"
                        aria-label="Starting Sum input"
                        aria-describedby="starting-sum-input-label"
                        >
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <button type="button" class="btn btn-success" @click="generateCards" :disabled="this.numberOfDecks === 0">Start</button>
                        <button type="button" class="btn btn-danger" @click="resetStore">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import { mapGetters } from 'vuex';

    import strategies from '../strategies/strategies'

    export default {
        name: "OptionsSection",
        data () {
            return {
                strategies: strategies,
            }
        },
        computed: {
            // ...mapGetters({
            //     disableDealsInput: 'getDealsInputState',
            //     disableDecksInput: 'getDecksInputState',
            // }),
            // numberOfDeals: {
            //     get () {
            //         return this.$store.getters.getNumberOfDeals;
            //     },
            //     set (value) {
            //         this.$store.dispatch('setNumberOfDeals', value);
            //     }
            // },
            strategy: {
                get () {
                    return this.$store.getters.getStrategy;
                },
                set (value) {
                    this.$store.dispatch('setStrategy', value);
                }
            },
            numberOfDecks: {
                get () {
                    return this.$store.getters.getNumberOfDecks;
                },
                set (value) {
                    this.$store.dispatch('setNumberOfDecks', value);
                }
            },
            numberOfSessions: {
                get () {
                    return this.$store.getters.getNumberOfSessions;
                },
                set (value) {
                    this.$store.dispatch('setNumberOfSessions', value);
                }
            },
            startingSum: {
                get () {
                    return this.$store.getters.getStartingSum;
                },
                set (value) {
                    this.$store.dispatch('setStartingSum', value);
                }
            },
        },
        methods: {
            // disableInput ()
            // {
            //     const payload = {
            //         numberOfDeals: this.numberOfDeals,
            //         numberOfDecks: this.numberOfDecks
            //     };
            //     this.$store.dispatch('disableInput', payload);
            // },
            // resetInputs ()
            // {
            //     this.numberOfDeals = 0;
            //     this.numberOfDecks = 0;
            //     this.disableInput();
            // },
            generateCards()
            {
                this.$store.dispatch('generateCards').then( () => {
                    this.$store.dispatch('simulationStart')
                });
            },
            resetStore()
            {
                this.$store.dispatch('resetStore');
            }
        }
    }
</script>

<style scoped>

</style>