<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Events
                </div>
                <div class="card-body">
                    <Event v-for="(event, eventKey) in events" :key="eventKey + '_' + event.type" :eventID="eventKey" :event="event"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { mapGetters, mapState } from 'vuex';

    import Event from './Event';

    export default {
        name: "SimulationSection",
        components: {
            Event
        },
        computed: {
            ...mapState({
                events: 'events',
            }),
        },
    }
</script>

<style scoped>

</style>