<template>
  <div class="container-fluid">
    <OptionsSection/>
    <!--<SimulationSection :events="events"/>-->
    <SimulationSection/>
  </div>
</template>

<script>

    // import { mapGetters, mapState } from 'vuex';

    import OptionsSection from './components/OptionsSection';
    import SimulationSection from './components/SimulationSection';

    export default {
        name: 'app',
        components: {
            OptionsSection,
            SimulationSection
        },
    }
</script>

<style>
  .card {
    margin-top: 15px;
  }
</style>